api.solaraassistant.ai {
  request_body {
    max_size 25MB
  }

  reverse_proxy app:3000 {
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
    header_up Host {host}
  }
}
